# Dotfiles (opt-out)
!.*
.*_history*
.hushlogin
.profile
.viminfo
.zcompdump

# Directories (opt-in)
*/
!.config/yadm/
!.iterm2_profile/
!.zsh/
!bin/

# yadm symlinks
.gitconfig.local

# MacOS extras
.Brewfile.lock.json
.CFUserTextEncoding
.DS_Store
.anyconnect
.iterm2_shell_integration.zsh
workplace
