# Amazon build outputs
coral-config/
build/

# Editors
*.iml
.idea/
.vscode/

# OS files
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Thumbs.db

# Python
*.py[cod]
__pycache__/
.pytest_cache/
.mypy_cache/

# Scala
.metals/
.bloop/
